<section class="charts">
    <div class="pie-chart">
        <h1>Average USD market price across major bitcoin exchanges</h1>
        <ngx-charts-pie-chart 
            class="pie"
            *ngIf="pieData"
            [results]="pieData"
            [labels]="true" >
    </ngx-charts-pie-chart>
    </div>
    <div class="bar-chart">
        <h1>The total USD value of trading volume on major bitcoin exchanges</h1>
        <ngx-charts-bar-vertical 
            class="bar"
            *ngIf="barData" 
            [results]="barData" 
            [showXAxisLabel]="true"
            [showYAxisLabel]="true" 
            [xAxis]="true" 
            [yAxis]="true" 
            [gradient]="true">
        </ngx-charts-bar-vertical>
    </div>
</section>