
<div *ngIf="contact" class="content">
  <div class="card">
    <div class="go-back">
      <button routerLink="/contact" class="back">X</button>
    </div>
    <div class="firstinfo"><img src="https://i.pravatar.cc/220?u={{contact._id}}" />
      <div class="profileinfo">
        <h1>{{contact.name}}</h1>
        <h3>{{contact.email}}</h3>
        <p class="bio">{{contact.phone}}</p>
        <button routerLink="/contact/edit/{{contact._id}}">Edit</button>
        <button (click)="onRemove()">Delete</button>
        <div class="transfer-funds">
          <input min="1" max="99" [(ngModel)]="amount" placeholder="How much?" type="number" name="coins" id="coins">
          <button (click)="onTransferFunds()">Transfer</button>
        </div>
        <div *ngIf="moves" class="moves">
          <h4>Activity</h4>
          <h5 *ngIf="!moves.length">No activity yet</h5>
          <move-list [moves]="moves"></move-list>
        </div>
      </div>
    </div>
  </div>
</div>
