@font-face {
    src: url('../fonts/fa-brands-400.ttf');
    font-family: fa-brands;
}

@font-face {
    src: url('../fonts/fa-regular-400.ttf');
    font-family: fa-regular;
}

@font-face {
    src: url('../fonts/fa-solid-900.ttf');
    font-family: fa-solid;
}

@font-face {
    src: url('../fonts/Raleway-Bold.ttf');
    font-family: raleway-bold;
}

@font-face {
    src: url('../fonts/Raleway-Regular.ttf');
    font-family: raleway-regular;
}

@font-face {
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-family: raleway-semibold;
}

