<section *ngIf="contact" class="contact-edit">
    <button routerLink="/contact" class="back">X</button>
    <h2>{{contact._id ? 'Edit':'Add'}} Contact</h2>
    <form (ngSubmit)="onSaveContact()">
        <label for="name"></label>
        <input required [(ngModel)]="contact.name" type="text" name="name" id="name" placeholder="Name">

        <label for="phone"></label>
        <input required [(ngModel)]="contact.phone" type="text" name="phone" id="phone" placeholder="Phone">

        <label for="email"></label>
        <input required [(ngModel)]="contact.email" type="email" name="email" id="email" placeholder="Email">

        <button>Save</button>
    </form>
</section>
