<section class="contact-app container" [class.blur]="isBlur">
    <div class="actions">
        <contact-filter></contact-filter>
        <button routerLink="/contact/edit">Add</button>
    </div>
    <div class="loading slide-in-bottom" *ngIf="isLoading">
        <img src="https://res.cloudinary.com/trellis22/image/upload/v1672603773/jcmbp7sdyqjuxdz4edht.gif"
            alt="Loading...">
    </div>
    <contact-list [contacts]="contacts$ | async"></contact-list>
    <user-msg></user-msg>
</section>

<router-outlet></router-outlet>