.nft-list {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    .nft {
        background-image: linear-gradient(-303deg, var(--clr2) 50%, var(--clr7) 50%);
        border-radius: 20px;
        border: 1px solid var(--clr4);
        width: 121px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        h2 {
            font-size: 0.8rem;
            span {
                color: gold;
                font-size: 1.1rem;
            }
        }
        button {
            width:80px;
            height: 30px;
            margin-inline-start: 3px;
        }
        .avatar {
            width: 119px;
            img {
                width: 100%;
            }
        }
    }
}